<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>BIG BELLY</title>
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>

</html>