<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>CALORIE TRACKER</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/calorieicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>

  <nav><a href="/login"><img id="logo" src="/assets/img/calorieicon.png"=alt="logo" /></a>
    <div class="navlink"><a id="loginButton" href="/login"></a>Login</div>
    <div class="navlink"><a id="signupButton" href="/signup"></a>Sign Up</div>
  </nav>
  <h3 id="text">Keeps track of your calorie intake</h3>
  <section id="content"></section>
  <div id="calorieMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src='/assets/loginBundle.js'></script>
</body>

</html>