<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>CALORIE TRACKER</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <link rel="shortcut icon" href="/assets/img/favicon.png" />
</head>

<body class='logsign-page'>
  <div class='container-fluid'>

    <div class='row top-buffer2'></div>

    <section id='login'>
      <div class='greeting text-center'>
        <h1><img class='icon' src='./assets/img/favicon.png' alt='hamburger'>HELLO<img class='icon'
            src='./assets/img/favicon.png' alt='hamburger'></h1>
      </div>

      <form id='loginForm' name='loginForm' action='/login' method='POST' class='mainForm'>
        <div class='row justify-content-center'>
          <div class='form-group .col-md-3'>
            <input class='field' id='user' type='text' name='username' placeholder='Username' />
          </div>
        </div>

        <div class='row justify-content-center'>
          <div class='form-group .col-md-3'>
            <input class='field' id='pass' type='password' name='password' placeholder='Password' />
          </div>
        </div>

        <div class='row justify-content-center'>
          <div class='form-group .col-md-3'>
            <input id="loginCsrf" type="hidden" name="_csrf" value={{csrfToken}} />
            <input class='btn btn-outline-light' id='loginButton' type='submit' value='Sign In' />
          </div>
        </div>
      </form>

      <div class='row justify-content-center'>
        <div class='form-group .col-md-3'>
          <p>Dont have an account? <a href='./signup'>Sign Up</a></p>
        </div>
      </div>
      </form>
    </section>
    <div class='row'>
      <div class='col text-center'>
        <div class="alert alert-danger" id="errorMessage" role="alert" style='display:none;'>
        </div>
      </div>
    </div>
  </div>

  <script src='/assets/bundle.js'></script>
</body>

</html>