<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>BIG BELLY</title>

</head>

<body class='logsign-page'>
    <div class='container-fluid'>

        <div class='row top-buffer2'></div>

        <section id='signup'>
            <div class='greeting text-center'>
                <h1><img class='icon' src='./assets/img/favicon.png' alt='hamburger'>HELLO<img class='icon'
                        src='./assets/img/favicon.png' alt='hamburger'></h1>
            </div>

            <form id='signupForm' name='signupForm' action='/signup' method='POST' class='mainForm'>
                <div class='row justify-content-center'>
                    <div class='form-group .col-md-3'>
                        <input class='field' id='user' type='text' name='username' placeholder='Username' />
                    </div>
                </div>

                <div class='row justify-content-center'>
                    <div class='form-group .col-md-3'>
                        <input class='field' id='pass' type='password' name='pass' placeholder='Password' />
                    </div>
                </div>

                <div class='row justify-content-center'>
                    <div class='form-group .col-md-3'>
                        <input class='field' id='pass2' type='password' name='pass2' placeholder='Retype Password' />
                    </div>
                </div>

                <div class='row justify-content-center'>
                    <div class='col-md-1'>
                        <button class='btn btn-outline-light' id='signupButton' type='submit'>Sign Up</button>
                    </div>
                </div>

            </form>
            <div class='row'>
                <div class='col text-center'>
                    <p>Have an account? <a href='./login'>Login</a></p>
                </div>
            </div>
            </form>
        </section>
        <section id="content"></section>
        <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box" />
            <h3><span id="errorMessage">Wrong username or password</span></h3><img id="domo" src="assets/img/domo.png"
                alt="domo" />
        </div>
    </div>
    <script src='/assets/loginBundle.js'></script>
</body>

</html>