*{
    margin: 0;
    padding: 0;
}

#title{
    font-size: 10rem;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}


img{
    border-radius: 7%;
}

a, #signupButton, #loginButton{
    color: black;
}
.top-buffer { margin-top:20px; }
.top-buffer2 { margin-top:250px; }


/* https://www.youtube.com/watch?v=fBRzD6dwJfw */

body{
    background: linear-gradient(-45deg, rgb(155, 120, 109), #be8c9fb0, rgb(65, 180, 223), rgb(82, 226, 193));
    background-size: 400% 400%;
    animation: change 10s infinite;
}

#errorMessage, h2{
    text-align: center;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.modal-title, #foods{
    margin: 0 auto;
    margin-left: 25px;
}

.top-buffer { margin-top:25px; }

img.animated-gif{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 80%;
  }


