* {
    margin: 0;
    padding: 0;
}


html,
body {
    font-family: 'Sulphur Point', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}
footer{
    background-color: silver;
    height: 75px;
    width: 100%;
}

nav {
    background-color: silver;
    height: 50px;
    width: 100%;
}

.logo {
    border-radius: 4px;
    float: left;
    padding: 2px;
    width: 50%;
    height: 10px;
}

.navlink {
    color: black;
    cursor: pointer;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}



.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active, #upgrade, #vids{
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.4s ease;
}




.mainForm, h1, #text, #videoTitle, .motivations{
    text-align: center;
}

#text{
    font-size: 45px;
}

.emptyFood{
    margin-top: 20px;
    text-align: center;
    font-size: 45px;
}

.foodWindow {
    text-align: center;
    margin-top: 15px;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.foodForm, .delFoodForm{
    text-align: center; 
}
.foodForm label{
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

#calorieMessage{
    text-align: center;
}

#pageTitle, #changePassForm, #upgradeContent{
    text-align: center;
}

#ad {
    overflow: hidden;
    background-color: silver;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

.food{
    border: 2px solid black;
    border-radius: 20px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
    overflow: hidden;
    padding: 10px 10px 0px 10px;
    width: 20rem; 
}

.motivations{
    border: 2px solid black;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
    overflow: hidden;
    padding: 10px 10px 0px 10px;
    width: 100%; 
}
#removeAds{
    width: 60px;
    height: 30px;
}

.formSubmit, .makeFoodSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.5em;
    width: 100px;
    background-color: white;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: black;
    text-decoration: none;
}

#homeTitle, #animated-gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 25%;
    width: 50%;
}



/* https://www.youtube.com/watch?v=fBRzD6dwJfw */

body {
    background: linear-gradient(-45deg, rgb(155, 120, 109), #be8c9fb0, rgb(65, 180, 223), rgb(82, 226, 193));
    background-size: 400% 400%;
    animation: change 10s infinite;
}

#errorMessage,
h2 {
    text-align: center;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
